h3, h5 {
  font-weight: 500;
  font-family: Verdana;
  text-align: center;
}

h3 {
  font-size: 3em;
}

h5 {
  font-size: 1em;
  text-shadow: 1px 1px 1px black;
}
p {
  font-family: Verdana;
  font-weight: 100;
  text-align: center;
  font-size: 1em;
  margin-top: 2em;
  text-shadow: 1px 1px 1px black;
}
#me {
    max-height: 15em;
    max-width: 15em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}